.stepper__modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "darker-grotesque";
    font-weight: 600;
    font-style: normal;
    color: var(--text-color);
    text-transform: uppercase;
    &__header{
        text-align: center;
        color:var(--text-color) ;

    }
    &__stepper__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        &__btn{
            text-transform: uppercase;
        }
    }
    &__button{
        text-transform: uppercase;
        padding: 0.5rem;
    }    
}

.step__two{
    color: var(--text-color);
}

.step__three{
    color: var(--text-color);
}